{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Welcome, Admin</h1>
<p>UUID: {{ user.uuid }}</p>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Generators</div>
            <div class="card-body">
                <p>Total Generators: {{ total_generators }}</p>
                <p>Active Generators: {{ active_generators }}</p>
                <p>Total Power Generated: {{ total_power_generated }} MW</p>
                <p class="card-text">View and manage Generators.</p>
                <a href="{% url 'view_generator' generator_id=1 %}" class="btn btn-light">View Generators</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Live Users</div>
            <div class="card-body">
                <p>Total Users: {{ total_users }}</p>
                <p>Active Users: {{ active_users }}</p>
                <p>Usage:{{usage}} % </p>
                <p class="card-text">View and Manage Users.</p>
                <a href="{% url 'view_user' user_id=1 %}" class="btn btn-light">View Users</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Gross</div>
            <div class="card-body">
                <p>Total Production: {{ total_production }} MW</p>
                <p>Total Usage: {{ total_usage }} MW</p>
                <p>Difference: {{ difference }} MW</p>
                <p class="card-text">Show Real-Time Statistics</p>
                <a href="{% url 'gross-power-data' %}" class="btn btn-light">Show Stats</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Sections</div>
            <div class="card-body">
                <p>Total Sections: {{ total_sections }}</p>
                <p>Active Sections: {{ active_sections }}</p>
                <p>Section Utlization:{{section_utilization}} %</p>
                <p class="card-text">View and Manage Sections</p>
                <a href="{% url 'view_sections' section_id=1 %}" class="btn btn-light">View Sections</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Grids</div>
            <div class="card-body">
                <p>Total Grids: {{ total_grids }}</p>
                <p>Active Grids: {{ active_grids }}</p>
                <p>Quality: {{ grid_efficiency}}%</p>
                <p class="card-text">View and Manage Grids</p>
                <a href="{% url 'view_grid' grid_id=1 %}" class="btn btn-light">View Grids</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">AI Predictions</div>
            <div class="card-body">
                <p>Generator Rankings</p>
                <p>User Anomalies </p>
                <p>Maintenance Predictions</p>
                <p class="card-text">View real-time Predictions.</p>
                <a href="{% url 'rankings' %}" class="btn btn-light">Show Predictions</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Maintenance</div>
            <div class="card-body">
                <p>Pending Maintenance: {{ pending_maintenance }}</p>
                <p>Lost Hours: {{ lost_hours }}</p>
                <p>Lost Revenue: {{ lost_revenue }}</p>
                <p class="card-text">View and Manage Maintenance</p>
                <a href="{% url 'show_maintenance' %}" class="btn btn-light">View Schedules</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Schedule Maintenance</div>
            <div class="card-body">
                <a href="{% url 'make_maintenance' 'section' %}" class="btn btn-light">Sections</a><br>
                <p> </p>
                <a href="{% url 'make_maintenance' 'grid' %}" class="btn btn-light">Grids</a><br>
                <p> </p>
                <a href="{% url 'make_maintenance' 'user' %}" class="btn btn-light">Users</a><br>
                <p> </p>
                <a href="{% url 'make_maintenance' 'generator' %}" class="btn btn-light">Generators</a>
               
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Maintenance Gross</div>
            <div class="card-body">
                <p>Number of Maintenance: {{ pending_maintenance }}</p>
                <p>Associated Cost: 6.54 MW</p>
                <p>Associated Hours: 1202 Hrs</p>
                <p class="card-text">View real-time Statistics.</p>
                <a href="{% url 'gross_maintenance'%}" class="btn btn-light">Show Statistics</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">User Complaints</div>
            <div class="card-body">
                <p>Total Complaints: {{ total_complaints }}</p>
                <p>Pending Complaints: {{ pending_complaints }}</p>
                <p>Resolved Complaints: {{ resolved_complaints }}</p>
                <p class="card-text">View and Manage Complaints.</p>
                <a href="{% url 'manage_complaints' %}" class="btn btn-light">Manage Complaints</a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
