{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Power Grid Management</h1>
        <div class="welcome">
            <p>Welcome, Admin</p>
            <a href="{% url 'logout' %}">Logout</a>
        </div>

        <h2>Grids</h2>

        <!-- Section ID Input Form -->
        <form method="GET" action="{% url 'view_grid' grid_id=1 %}">
            <label for="grid_id">Enter Grid ID: </label>
            <input type="text" id="grid_id" name="grid_id" required>
            <button type="submit">View Grid</button>
        </form>

        <!-- Display Section Details -->
        {% if grid %}
            <div class="grid-details">
                <h3>Grid Details</h3>
                <p><strong>Status:</strong> {{ grid.activity_status }}</p>
                <p><strong>Users:</strong> {{grid.users}}</p>
                <p><strong>Load:</strong> {{grid.load}}</p>
                <p><strong>Section 1:</strong> {{grid.sec1}}</p>
                <p><strong>Section 2:</strong> {{grid.sec2}}</p>
                <p><strong>Section 3:</strong> {{grid.sec3}}</p>
                <a href="{% url 'update_grid' grid_id=grid.uuid %}">Edit Grid</a>
            </div>
        {% else %}
        
            <p>No Grid found. Please enter a valid Grid ID.</p>
        {% endif %}
        <a href="/admin_panel/{{user.uuid}}">Go to Admin Panel</a>
        <footer>
            <p>&copy; 2025 Power Grid Management</p>
        </footer>
    </div>
{% endblock %}
