{% extends 'base.html' %}

{% block content %}
    <h1>Update Section</h1>
    <form method="POST">
        {% csrf_token %}

        <label for="activity_status">Status:</label>
        <input 
        type="checkbox" 
        id="activity_status" 
        name="activity_status" 
        value="on" 
        {% if section.activity_status %}checked{% endif %}>
        
        {% comment %} <label for="users">Users:</label>
        <input type="number" name="users" value="{{ section.users}}" required> {% endcomment %}

        <label for="Grid Id">Grid:</label>
        <input type="number" name="grids" value="{{ section.grids }}" required>

        <label for="max_load">Maximum Load:</label>
        <input type="number" name="max_load" value="{{ section.max_load }}" required>

        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
