{% extends 'base.html' %}

{% block content %}
    <h1>Update User</h1>
    <form method="POST">
        {% csrf_token %}

        <label for="activity_status">Status:</label>
        <input 
        type="checkbox" 
        id="activity_status" 
        name="activity_status" 
        value="on" 
        {% if bear.activity_status %}checked{% endif %}>

        <label for="User Id">User:</label>
        <input type="number" name="uuid" value="{{bear.uuid}}" required>
        <label for="User Name"> User Name:</label>
        <input type="text" name="user_name" value="{{bear.username}}" required>
        <label for="Name">Name:</label>
        <input type="text" name="name" value="{{bear.name}}" required>
        <label for="email">E-Mail:</label>
        <input type="email" name="email" value="{{bear.email}}">
        <label for="section">Section:</label>
        <select name="section">
        <input type="text" name="section" value="{{bear.section_id}}">
        <label for="bill_amount">Bill Amount:</label>
        <input type="number" name="bill_amount" value="{{bear.bill_amount}}" required>
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
