{% extends 'base.html' %}

{% block content %}
    <h1>Update Section</h1>
    <form method="POST">
        {% csrf_token %}
        {% comment %} <label for="fuel">Fuel:</label>
        <input type="text" name="fuel" value="{{ generator.fuel }}" required> {% endcomment %}

        {% comment %} <p>Please select the activity status:</p>
          <input type="radio" id="on" name="sctivity_status" value={{ section.activity_status }}>
          <label for="on">ON</label><br>
          <input type="radio" id="off" name="sctivity_status" value={{ section.activity_status }}>
          <label for="off">OFF</label><br> {% endcomment %}
        <label for="activity_status">Status:</label>
        <input 
        type="checkbox" 
        id="activity_status" 
        name="activity_status" 
        value="on" 
        {% if section.activity_status %}checked{% endif %}>
        
        <label for="users">Users:</label>
        <input type="number" name="users" value="{{ section.users}}" required>

        <label for="Grids">Grid:</label>
        <input type="number" name="grids" value="{{ section.grids }}" required>
        <label for="load">Load:</label>
        <input type="number" name="load" value="{{ section.load}}" required>

        <label for="max_load">Maximum Load:</label>
        <input type="number" name="max_load" value="{{ section.max_load }}" required>

        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
